@import "~bootstrap/scss/bootstrap";

body {
  background-color: rgb(244, 244, 244);
}

// * Custom Button Style
	
.btn-default {
background-color: #dd746c;
color:#FFF;
outline: none!important;
} 

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #ec8d8d;
  color:#FFF;
  outline: none!important;
  }

// * Footer

.bold {
  font-weight: bold;
  font-size: large;
  color: black!important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-wrap {
  display: flex;
  justify-content: center!important;
}

// * Home

.no-pad {
  padding: 0!important;
  display: flex;
  justify-content: center;
}

.home-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  width: 1400px;
  max-width: 1500px;
}

.title-wrap {
margin-top: -100px;
display: flex;
flex-direction: column;
align-items: center;
}

.info-wrap {
  display: flex;
  margin-top: -80px;
}

.big-title {
  font-size: 50px;
}

.tagline {
  font-size: 40px;
}

.info-tagline {
  font-size: 20px;
  background-color: rgb(235, 235, 235);
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.tag-wrap {
  margin-top: -70px;
  display: flex;
  justify-content: center;
}

// * Register

.register {
  margin-top: 50px;
}

// * Login

.login {
  margin-top: 50px;
}

// * Dashboard

.game-box {
  border: 1px #8c8c8c solid;
  background-color: whitesmoke;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 75px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.the-back {
  display: flex;
  justify-content: center;
}

.dash-wrap {
  display: flex;
  width: 1500px;
  height: 95vh;

  .dash-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-left: 12px;

    .button-wrap {
      width: 75%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .game-list-wrap {
      border: #8c8c8c 1px solid;
      width: 714px;
      padding-left: 5px;
      padding-right: 5px;
      max-height: 692px;
      min-height: 200px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }
  }

  .no-game-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spacing {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dash-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-right: 12px;
    width: 50%;

    .leaderboard-wrap {
      padding: 10px;
      height: 692px;
      min-height: 200px;
      border: 1px #8c8c8c solid;
      display: flex;
      justify-content: center;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }
  }

  .button-height {
    height: 50px;
  }

  .edit-button {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.center-flex {
  display:flex;
  justify-content: center;
  align-items: center;
}

// * Custom Colours

.red {
  background-color: #e84444;
}

.light-red {
  background-color: #dd746c;
}

.salmon {
  background-color: #ec8d8d;
}

.light-grey {
  background-color: #e4e3e3;
}

.dark-grey {
  background-color: #8c8c8c;
}

.shadow-grey {
  background-color: #6c6c6c;
}

.misc-grey {
  background-color: #b3b3b3;
}

.off-white {
  background-color: rgb(244, 244, 244);
}

.white {
  background-color: white;
}

// * Leaderboard Table

table.table-bordered{
  border:1px #8c8c8c;
  margin-top:20px;
  margin-top: 0px;
}
table.table-bordered > thead > tr > th{
  border:1px solid #8c8c8c;
}
table.table-bordered > tbody > tr > td{
  border:1px solid #8c8c8c;
}

// * Images

.card-wrap {
  max-width: 714px;
  padding: 40px;
}

.aces-icon {
  height: 45px;
  width: auto;
  margin: 10px;
}

.card-img {
  opacity: 0.65;
}

// * Game History Buttons

.game-browse-buttons {
  margin: 15px;
}

.forward-button {
  margin-left: 10px;
}

.dash-img {
  background-image: url("https://i.ibb.co/GnJds5q/Screenshot-2021-09-24-at-12-28-42.png");
  background-size: 100% 100%;
  opacity: 0.85;
  height: 400px;
  width: 550px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

@media only screen and (max-width: 1200px) {

  .home-wrap {
    display: flex;
    flex-direction: column;
  }
  
  .big-title {
    font-size: 40px;
  }
  
  .tagline {
    font-size: 30px;
  }
  .info-tagline {
    margin:auto;
    font-size: 15px;
  }

  .dash-img {
    margin-top: -100px;
  }
} 

@media only screen and (max-width: 560px) {
  
  .big-title {
    font-size: 30px;
    margin-top: 20px;
  }
  
  .tagline {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .info-tagline {
    margin:auto;
    font-size: 10px;
  }

  .dash-img {
  height: 247px;
  width: 342px;
  }
} 

