@import "~bootstrap/scss/bootstrap";

// * Nav Bar

.nav-bar-border {
  border-bottom: black 1px solid;
}

// * Footer

.footer-border {
  border-top: black 1px solid;
}

.bold {
  font-weight: bold;
  font-size: large;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-wrap {
  display: flex;
  justify-content: center!important;
}

// * Home

.no-pad {
  padding: 0!important;
}

.home-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 85vh;
  background-color: grey;
  width: 100%;
}

.title-wrap {
display: flex;
flex-direction: column;
align-items: center;
}

.info-wrap {
  display: flex;
}

.promo-text-box {
  border: black 1px solid;
  height: 300px;
  width: 500px;
  margin: 20px;
  background-color: lightgray;
}

// * Register

.register {
  margin-top: 50px;
}

// * Login

.login {
  margin-top: 50px;
}

// * Dashboard

.game-box {
  border: 1px black solid;
  padding: 5px;
  margin: 5px;
  background-color: whitesmoke;
  border-radius: 0.5ch;
}

.the-back {
  display: flex;
  justify-content: center;
  background-color:black;
}

.dash-wrap {
  display: flex;
  width: 1500px;
  height: 95vh;
  background-color: grey;

  .dash-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-left: 12px;

    .button-wrap {
      width: 75%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .game-list-wrap {
      border: black 1px solid;
      padding: 5px;
      max-height: 80%;
      min-height: 200px;
      border-radius: 0.5ch;
      background-color: lightgray;
    }
  }

  .no-game-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spacing {
    height: 100px;
  }

  .dash-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-right: 12px;
    width: 50%;

    .leaderboard-wrap {
      max-height: 90%;
      min-height: 300px;
      padding: 10px;
      
      border-radius: 0.5ch;
      background-color: lightgray;
      border: 1px black solid;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .button-height {
    height: 50px;
  }

  .player-card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 0.5ch;
    background-color: whitesmoke;
    border: black 1px solid;
  }

  .edit-button {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.center-flex {
  display:flex;
  justify-content: center;
  align-items: center;
}

.button-border {
  border: black 1px solid;
}